{% extends '@snippets/layout.twig' %}
{% set bodyClasses = ['isDefault'] %}

{% block content %}

  <header class="Header">
    <div class="Header-inner">
      <h1>{{ page.title }}</h1>
      {% if page.subtitle %}<p>{{ page.subtitle }}</p>{% endif %}
    </div>
  </header>

  <main>
  {% if page.html.isNotEmpty %}
    {{ page.html | raw }}
  {% elseif page.text.isNotEmpty %}
    {% include('@snippets/section.twig') with {page:page} %}
  {% endif %}
  </main>

{% endblock %}